body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family:'Montserrat' serif;
    background-color: rgb(196, 232, 243);
}
h1{
    
    margin: 50px  auto 0 auto;
    font-size: 5.60rem;
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
}
h2{
    color:#66BFBF;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding: 20px;
}
h3{
    
    font-family:'Montserrat', sans-serif ;
}
p{
    line-height: 2;
}
  
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #11999E;
    font-family: Montserrat , serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}

.topcloud{
    position: absolute;
    right:200px;
    top: 40px;

}
.mountain{
    
    height:200px;
    width:90%;
    top:10%;

}
.bottomcloud{
    position: absolute;
    
    left:250px;
    top:300px;
}

.profile-photo{
    float:right;
    border: 1px solid ;
    border-color: black;
    margin-top: 1%;
    width: 30%;
    height: 20%;
    width:20%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.skill-img{
    border-radius: 10%;
    width: 25%;
    height:150px;
    float: left;
    margin-right: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto ;
    text-align: left;
    line-height: 2;
    
}
.skill-img-2{
    border-radius: 10%;
    width: 25%;
    height:150px;
    float: right;
    margin-left: 30px;
}
.skill-row-2{
    width: 50%;
    margin: 100px auto 100px auto ;
    text-align: left;
    line-height: 2;
    
}
.topContainer{
    padding-top: 100px;
    
    
    
    
}
.middleContainer{
    margin: 100px 0;
}
.bottomContainer{
    background-color: #66BFBF;
    padding: 50px 0 20px;
 
}
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.intro{
    width: 30%;
    margin: auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:'Montserrat' sans-serif;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }

